/*
 * @Description: some common css
 * @Author: anthony_su
 * @LastEditors: Please set LastEditors
 * @Date: 2019-05-08 00:11:44
 * @LastEditTime: 2019-05-08 00:39:19
 */ 
* {
    margin: 0;
    padding: 0;    
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}